#rickroll{
    color: tomato;
}
body{
    background-color:burlywood
}
.th{
    color:greenyellow
}
#p1{
    font-family:"fantasy";
    font-size:"16px";
}
#rickroll{
    border: 10px solid tomato;
    border-radius:10px;

}

